/* TODA LA PÁGINA */
:root{
    --blanquito: #e8e8e7;
    --oscuro: #333333;
    --rojito: #b91817;
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}
body{
    background: var(--oscuro);
}
.contenedor{
    background: var(--oscuro);
    width: 100%;
    max-width: 1366px;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(31, 30, 30);
    box-shadow: 0 4px 25px -22px #fd1532;
    z-index: 10;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: var(--blanquito);
}
.logo h1 b{
    color: var(--rojito);
}
.menu1 {
    height: 80px;
    margin-right: 2em;
}
.menu1 nav{
    height: 100%;
}
header nav{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav a{
    background: rgb(31, 30, 30);
    color: var(--blanquito);
    text-align: center;
    text-decoration: none;
    padding: 9px;
    flex-grow: 1;
    font-family:WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}
.navegacion ul{
    list-style: none;
    font-style: none;
    color: var(--blanquito);
}
.menu{
    display: flex;
    float:left;
    text-align: center;
    justify-content: flex-end;
    color: var(--blanquito);
}
.menu > li{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}
.menu li a:hover{
    background: var(--blanquito);
    color: rgb(31, 30, 30);
}
/*SUBMENUS HEADER*/
.submenu{
    position: absolute;
    background: rgb(31, 30, 30);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}
.submenu li a{
    display: block;
    padding:15px;
    color: var(--blanquito);
    font-family:WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    align-items: center;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
/* HEADER INICIAR SESIÓN */
.menu2{
    display: flex;
    justify-content: center; 
    color: inherit;
    text-decoration: none;
    list-style: none;
}
.menu2 li{
    margin-right: 2em;
    margin-top: 1em;
}
.menu2 a{
    position: relative;
    display: block;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    font-family:WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    color: var(--blanquito);
}
.menu2 a span{
    transition: transform 0.2s ease-out;
}
.menu2 i{
    font-size: 30px;
}
.menu2 a span:first-child{
    display: inline-block;
    padding: 10px;
}
.menu2 a span:last-child{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
}
.menu2 a:hover span:first-child{
    transform: translateX(100%);
}
.menu2 a:hover span:first-child,
.menu2[data-animation] a:hover span:last-child{
    transform: none;
}
.menu2[data-animation="to-up"] a span:last-child{
    transform: translateY(100%)
}
.menu2[data-animation="to-up"] a:hover span:first-child{
    transform: translateY(-100%)
}
/* EMPIEZA BODY */
.contenedor-todo{
    padding-top: 5em;
    display: flex;
    color: var(--blanquito);
    font-family: WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}
/* SEARCH */
/*Buscador de contenido*/
#ctn-icon-search{
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: var(--blanquito);
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: var(--rojito);
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: transparent;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    background: var(--oscuro);
    color: var(--blanquito);
    border-radius: 50px;
    border: none;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: rgb(31, 30, 30,.7);
    z-index: 8;
    overflow: hidden;
    display: none;
    border-radius: 10px;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: var(--blanquito);
    padding: 12px 20px;
}

#box-search li a:hover{
    background: transparent;
}

#box-search li a i{
    margin-right: 10px;
    color: var(--blanquito);
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}
/* CUADOR INFO */
.nomain{
    background: var(--oscuro);
    padding: 20px;
    flex: 1 1 70%;
}
.nomain article{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    font-family: WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
}
.nomain article:nth-last-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.nomain h2{
    font-style: none;
    color: var(--blanquito);
}
.nomain h3{
    font-style: none;
    color: var(--blanquito);
}
.nomain p{
    text-align: justify;
    color: var(--blanquito);
}
.lista1{
    list-style-type: square;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
    background: rgb(31, 30, 30);
    color:var(--blanquito);
}
td, th {
    background:rgb(31, 30, 30);
    color: var(--blanquito);
    text-align: center;
    border-bottom: 0.5px solid var(--rojito);
}
/* IMAGENES DE LA DERECHA */
aside{
    background: rgb(31, 30, 30);
    padding: 20px;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
aside .widget{
    background: var(--oscuro);
    height: 200px;
    margin: 10px;
}   
/* FOOTER */
footer{
    background: rgb(31, 30, 30);
    width: 100%;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .numerofooter{
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}
footer .numerofooter a{
    display: block;
    padding: 0 10px;
    background: var(--oscuro);
    color: var(--blanquito);
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
    transition: .2s;
}
.numerofooter:hover a{
    filter: blur(2px);
}
.numerofooter a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
    filter: none;
}
.numerofooter .phone:hover{
    background: var(--blanquito);
    color: var(--oscuro);
}
footer .nombresfooter {
    background: transparent;
    color: var(--blanquito);
    display: flex;
    flex-wrap: wrap;
    font-family:WR_Korean,WR_Japanese,WR_Arabic,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
    text-align: justify;
}
footer .social li{
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}
footer .social a{
    display: block;
    padding: 0 10px;
    background: var(--oscuro);
    color: var(--blanquito);
    line-height: 40px;
    font-size: 20px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.2);
    transition: .2s;
}
.social ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
    filter: none;
}
.social ul li .facebook:hover{
    background: var(--facebook);
}
.social ul li .instagram:hover{
    background: var(--instagram);
}
.social ul li .twitter:hover{
    background: var(--twitter);
}
